<ul id="medo-list">
  <li ng-repeat="item in items" id="item-{{item.nid}}" ng-class="{'status-resolved': item.field_status == '1','status-open': item.field_status == '0'}">
    <div class="row-item" ng-hide="editMode">
      <div class="item-actions pull-left">
        <input type="submit" value="Edit" class="icon-button edit-item" ng-click="editMode = true; listctrl.editItem($index)">
        <input type="submit" value="Delete" class="icon-button remove-item" ng-click="listctrl.removeItem($index)">
      </div>
      <span>{{ item.title }}</span>
      <input type="checkbox" class="status-ops pull-right" ng-click="listctrl.statusUpdate($event, $index)" ng-model="item.field_status" ng-true-value="'1'" ng-false-value="'0'" />
    </div>
    <div class="row-edit" ng-show="editMode">
      <input type="title" ng-model="item.title" class="form-field" />
      <div class="submit-actions">
        <input type="submit" value="Save" class="icon-button submit-save" ng-click="editMode = false; listctrl.updateSave($index, item.title)">
        <input type="submit" value="Cancel" class="icon-button submit-cancel"  ng-click="editMode = false; listctrl.updateCancel($index)">
      </div>
    </div>
  </li>
  <li ng-show="newitem"><span>{{ newitem }}</span></li>
</ul>
<form id="add-new" name="addNew" ng-submit="listctrl.addNew(newitem)">
  <input type="title" placeholder="More meDOs!" ng-model="newitem" class="form-field" />
  <input type="submit" value="Submit" class="icon-button submit-save">
</form>
