@charset "UTF-8";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* List of TODOs */
#medo-list {
  margin: 40px 0;
  padding: 0;
  list-style: none;
}
#medo-list li {
  font-size: 18px;
  clear: both;
  padding: 10px 0;
}
#medo-list .icon-button {
  height: 24px;
  width: 24px;
  display: inline-block;
  border: none;
  padding: 0;
  text-indent: -9999px;
  transition: all 0.5s ease-in-out;
}
#medo-list li:hover .item-actions input {
  width: 24px;
  margin-left: 5px;
}
#medo-list .item-actions input {
  width: 0;
  float: left;
}
#medo-list .edit-item {
  background: url(../images/edit.png) no-repeat 0;
}
#medo-list .remove-item {
  background: url(../images/cross.png) no-repeat 0;
}
#medo-list .submit-save {
  background: url(../images/save.png) no-repeat 0;
}
#medo-list .submit-cancel {
  background: url(../images/reset.png) no-repeat 0;
}
.row-edit {
  position: relative;
}
.submit-actions {
  position: absolute;
  right: 0;
  top: 0;
}

/* Add new todo item form */
#add-new {
  position: relative;
}
.form-field {
  width: 100%;
  font-size: 18px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #dadada;
}
.form-field:focus {
  outline: none;
}
#add-new .submit {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #dadada;
  padding: 8px;
  border: 5px solid white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    max-width: 730px;
  }
}
